/*
@name Juego Gato
@file styles.css
@copyright © 2025 Equipo 6, Matemáticas Discretas.
@authors Frida Alejandra Mendoza Martínez, Marvin Martínez Ramón, Yael Morales Medina
@date 02/12/2025
@description Archivo que contiene el diseño.
@credits "COMO HACER UN TRIQUI [TIC TAC TOE] CON HTML5, CSS3 Y JAVASCRIPT SIN FRAMEWORKS [VANILLA]", 
Porto Armenia, YouTube, https://www.youtube.com/watch?v=gMrWT7zW6Wo, publicado el 2 de Octubre del 2021
*/
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-size: 62.5%; /* rem --> 1rem = 10px*/
}

body{
    background-color: #000000;
    min-width: 320px;
}

.header {
    width: 100%;
    height: 50px;
    margin-right: auto;
    background-color: #90f545;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-left: 20px;
}

.header__h1 {
    font-family: 2rem;
    letter-spacing: 3px;
    margin: auto;
    color: white;
    width: 60%;
    text-align: center;
}

.section{
    width: 100%;
    height: calc(100vh - 100px);
    background-color: #045c5c;
    padding: 20px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.section__aside {
    display: none;
}

.section__main{
    width: 100%;
    height: 70%;
    border: 6px solid white;
    border-radius: 20px;
    padding: 10px 10px;
}

.section__main-table {
    width: 100%;
    height: 100%;
    border-collapse: collapse;
}

.section__main-table td{
    text-align: center;
    font-size: 4.5rem;
    width: 33.33333%;
}

.section__main-table tr{
    height: 33.33333%;
}

#c1_1 , #c1_2, #c2_1, #c2_2, #c3_1 , #c3_2 {
    border-right: 10px solid white;
}

#c1_1 , #c1_2, #c1_3, #c2_1, #c2_2 , #c2_3 {
    border-bottom: 10px solid white;
} 

.button_sel{
    display: block;
}

.button_select{
    height: 90%;
    width: 90%;
    margin: auto;
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: none;
    font-size: 4.5rem;
}

.section__div-mobile{
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: white;
}

.player-mobile-p{
    font-size: 1.8rem;
}

#score_1, #score_2, #score_1m, #score_2m {
    font-size: 3rem;
}

.player-mobile{
    width: 40%;
    height: 100px;
    border: 2px solid white;
    border-radius: 20px;
    background: linear-gradient(#63abf3, black);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.footer {
    width: 100%;
    height: 50px;
    background-color: #045c5c;
    color: white;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button_start {
    height: 40px;
    width: 200px;
    border-radius: 10px;
    border: none;
    background-color: #f5ce22;
    color: #010703;
    font-size: 1.4rem;
    font-weight: bold;
    margin-left: 20px;
}

#ranGame , #start {
    cursor: pointer;
}

#nextButton, #cleanButton {
    background-color: grey;
    cursor: default;
}

.modal-container{
    position: fixed;
    z-index: 1000;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
}

.modal{
    width: 60%;
    height: 70%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 10px 10px;
    position: relative;
    transition: transform 1s;
    transform: translateY(0%);
}

.modal-close{
    transform: translateY(-200%)
}

.modal img{
    width: 30%;
}

.modal-text{
    font-size: 1.5rem;
    color: #f5ce22;
    text-align: center;
}

.start_button{
    width: 120px;
    font-size: 2rem;
}